<h1>Create a New Trip</h1>

<form action='/trips' method='POST'>
  <input type="text" name="trip_name" placeholder="Trip Name">
  <br>
  <input type="text" name="description" placeholder="Description">
  <br>
  <input type="submit" value="Submit">
</form> 