


<h1>Create a New Trip</h1>

<form action='/trips' method='POST'>
  <input type="text" name="trip_name" placeholder="Trip Name">
  <br>
  <input type="text" name="description" placeholder="Description">
  <br>
  <input type="submit" value="Submit">
</form>
<br>

<% @user = current_user %>
<br>
<a href='/trips'>Go to Main Trip Listing</a> |
<a href="/users/<%= @user.slug %>">Take me to My Trips</a> |
<a href="/logout">Log Out</a>
