<h1>Welcome to Trip Tracker!</h1>
<h3>Use Trip Tracker to keep track of your favorite trips and view other user's favorite places</h3>
<br>
<br>
<a href="/signup">Sign Up</a> | <a href="/login">Log In</a> | <a href="/logout">Log Out</a>
